.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 100;
  position: fixed;
  width: 100%;
  top: 0;
  height: 60px;
  color: #f6a800;
}

.NavMenu {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  height: 100%;
}
.NavMenu a {
  color: #f6a800;
  text-decoration: none;
  cursor: pointer;
  padding-right: 1rem;
  text-transform: uppercase;
}

.NavMenu a:last-child {
  padding-right: 3rem;
}