 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
 .container {
  background-image: url(../../../Design/Public/MainSection/ImageSlider/data/images/house-1.jpg);
  background-size:cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContainer {
 display: flex;
 align-items: center;
 flex-direction: column;
 height: 80vh;
 width: 30vw;
 background: rgba(255,255,255,0.15); 
 backdrop-filter: blur(8.5px);
 border-radius: 10px;
 color: white;
 text-transform: uppercase;
 letter-spacing: 0.4rem;
}

.welcomeText {
  margin: 3rem 0 2rem 0;
}

.formLogin {
  display: flex;
  flex-direction: column;
  height: 20%;
}

.inputLogin {
  background: rgba(255,255,255,0.15);
  border-radius: 2rem;
  width: 20vw;
  height: 3rem;
  padding: 1rem;
  margin-bottom: 1rem;
  border: none;
  outline: none;
}

.inputLogin::placeholder {
color: white;
}

.formLogin button {
  margin-top: .5rem;
}

h5 {
  margin-top: 6rem;
}

.registerButton {
  padding: .5rem 1rem;
  margin-top: 1rem;
  border: none;
  background: #f6a800;
  color: white;
  border-radius: 1rem;
  transition: .2s ease;
  max-width: 160px;
  display: flex;
  text-transform: uppercase;
  justify-content: space-between;
  align-items: left;
  margin-right: 10px;
  text-decoration: none;
}

.registerButton:hover {
  color: #f6a800;
  background: transparent;
  cursor: pointer;
  border: 1px solid #f6a800;
}
